body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0 auto;
  table-layout: auto;
}

.bol-container {
  width: 85vw;
  margin: auto;
  padding: 20px;
  border: 1px solid #000;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.bol-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

h2 {
  margin-top: 0px;
}

.shipment-details h2 {
  margin-top: -4px;
}

td {
  padding: 4px 8px;
}

.bol-table th,
.bol-table td {
  border: 1px solid #000;
}

.bol-table p,
.bol-table td,
.shipment-details p,
.shipment-details td {
  text-align: left;
  margin: 0;
}

.bol-table th {
  padding: 8px;
}

.table-header,
.bol-table th {
  background-color: #545454;
  color: white;
}

.bol-table td[colspan="4"] {
  text-align: left;
}

.dmg {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}
thead,
tfoot {
  text-align: center;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.para p {
  text-align: left;
  margin: 0;
  font-size: 13px;
  color: #777777;
  font-weight: bolder;
}

.shipper-consignee-th th {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

th {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

tfoot th:nth-of-type(1) {
  text-align: left;
}
tfoot th:nth-of-type(2) {
  text-align: center;
}

tfoot th:nth-of-type(3) {
  text-align: right;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bol-table p,
.shipment-details p {
  text-align: left;
  font-weight: 600;
  font-size: 13.5px;
}
.bol-table h2,
.shipment-details h2 {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  color: #777777;
  text-transform: uppercase;
}

.bol-header {
  align-self: flex-end;
}

.bol-title {
  font-size: 28px;
  font-weight: 800;
}

.bol-non-negotiable {
  font-size: 20px;
}

.carrier-info p {
  margin: 5px 0;
  font-size: 20px;
  text-align: right;
}

.barcode-wrpr p {
  font-size: 12px;
  color: #777777;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.weightInfo {
  border: #000 solid 1px;
  margin: 0;
  padding: 10px 8px;
  color: #777;
  font-weight: 600;
  font-size: 13.5px;
}
.subject-line p {
  font-size: 14px;
  color: #777777;
  font-weight: 600;
  margin: 5px 0;
}
.barcode-container {
  width: 30vw;
  align-content: center;
  text-align: center;
  height: 70px;
  border: 1px solid #000;
}

.shipment-details table {
  width: 100%;
  border-collapse: collapse;
}

.shipment-details th,
.shipment-details td {
  padding: 8px;
  text-align: center;
}
.shipment-details td {
  border: 1px solid #000;
}

.signature {
  display: flex;
  justify-content: space-between;
}
